<mat-card>
  <mat-action-list>
    <div mat-subheader>Admin Menu</div>
    <button mat-list-item routerLink="/admin/dashboard">
      <div class="list-item-content">
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Home</span>
      </div>
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <div class="list-item-content">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span>Profile</span>
      </div>
    </button>
    <button mat-list-item routerLink="/admin/userList">
      <div class="list-item-content">
        <mat-icon mat-list-icon>list</mat-icon>
        <span>User List</span>
      </div>
    </button>
    <button mat-list-item routerLink="/admin/addCandidate">
      <div class="list-item-content">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
        <span>Add Candidate</span>
      </div>
    </button>
    <button mat-list-item routerLink="/admin/candidateList">
      <div class="list-item-content">
        <mat-icon mat-list-icon>list</mat-icon>
        <span>Candidate List</span>
      </div>
    </button>
    <button mat-list-item routerLink="/admin/totalVote">
      <div class="list-item-content">
        <mat-icon mat-list-icon>thumb_up</mat-icon>
        <span>Total Votes</span>
      </div>
    </button>
  </mat-action-list>
</mat-card>
