<section class="testimonails-section">
  <div class="container">
    <div class="row abc">
      <div class="col-lg-10 offset-lg-2 text-center">
        <div class="slider" style="width: 920px;">
          <div class="owl-item" style="width: 100%; margin-right: 0px;">
            <div class="single-slider">
              <div class="clientImg" style="margin-bottom: 20px;">
                <img src="/assets/images/avatar2.png" alt="">
              </div>
              <div class="clientMeta">
                <h3>John Wick
                  <span>Local voter</span>
                </h3>
                <p class="testBody">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
                <div class="last-icon">
                  <i class="fa fa-quote-right" aria-hidden="true"
                  style="font-weight: 900;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
